body {
	background-color: #e8e8e8;
}
.card {
	max-width: 512px;
	margin: auto;
}

.appBar h1 {
	font-size: inherit;
	margin: 0;
}

button .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	margin: -0.25em 0;
}
	button .icon:first-child {
		margin-right: 0.25em;
	}
	button .icon:last-child {
		margin-left: 0.25em;
	}

#load-card {
	text-align: center;
}
#progress-bar {
	display: block;
	margin: auto;
}
#auth-btn {
	display: none;
}

#content-card {
	display: none;
	padding: 0;
}
	#content-card h2 {
		margin: 1em 0.5em 0.5em;
	}
		#content-card h2:first-of-type {
			margin-top: 0.5em;
		}

#labels {
	font-size: 80%;
}

input[type="checkbox"] {
	margin: 0 0.125em;
}
