body {
	background-color: #e8e8e8;
	padding-top: 48px;
}
.card {
	max-width: 512px;
}

.appBar {
	text-align: right;
}
	.appBar h1 {
		float: left;
		margin: 0;
		font-size: inherit;
	}

button .icon,
[role="button"] .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	margin: -0.25em 0;
	
	fill: currentColor;
}
	.list li button .icon,
	.list li [role="button"] .icon {
		vertical-align: middle;
		fill: #40c4ff;
	}

#load-card {
	text-align: center;
}
#progress-bar {
	display: block;
	margin: auto;
}
#auth-btn {
	display: none;
}

#content-card,
#cart-card {
	display: none;
	padding: 0;
}
	#content-card h2,
	#cart-card h2 {
		margin: 1em 0.5em 0.5em;
	}
		#content-card h2:first-of-type,
		#cart-card h2:first-of-type {
			margin-top: 0.5em;
		}
	#cart-card {
		border-radius: 0;
	}

#labels {
	font-size: 87.5%;
}

input[type="checkbox"] {
	margin: 0 0.125em;
}

#cart-card {
	position: fixed;
	margin: 0;
	top: 0;
	bottom: 0;
	right: -24px;
	width: 22.5em;
	max-width: 90%;
	max-width: calc(100% - 3.5em);
	
	z-index: 4;
	transform: translateX(100%);
	transition: transform 0.2s;
}
	#cart-card.open {
		transform: translateX(0);
	}
@media (min-width: 512px) {
	body {
		padding-top: 88px; /* MZ default */
	}
}
@media (min-width: 800px) {
	body {
		padding-right: 24em;
	}
	#cart-btn {
		display: none;
	}
	#cart-card {
		z-index: 2;
		transform: translateX(0);
		padding-top: 64px;
	}
}
